@model TechShop.Models.Category

<h1>Деталі категорії</h1>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.Name</dd>
    </dl>
</div>
<div>
    <a href="@Url.Action("Edit", "Category", new { area = "Admin", id = Model.Id })" class="btn btn-warning btn-sm">
        Редагувати
    </a> |
    <a href="@Url.Action("Index", "Category", new { area = "Admin" })" class="btn btn-secondary btn-sm">
        Повернутися до списку
    </a> |
    <a href="@Url.Action("Delete", "Category", new { area = "Admin", id = Model.Id })" class="btn btn-danger btn-sm">
        Видалити
    </a>
</div>