@model IEnumerable<TechShop.Models.Category>

<h1>Категорії</h1>

<a href="@Url.Action("Create", "Category", new { area = "Admin" })" class="btn btn-primary">
    <i class="fas fa-plus me-2"></i>Додати нову
</a>
<table class="table">
    <thead>
        <tr>
            <th>Назва</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <a href="@Url.Action("Edit", "Category", new { area = "Admin", id = item.Id })" class="btn btn-sm btn-warning">Редагувати</a>
                    <a href="@Url.Action("Details", "Category", new { area = "Admin", id = item.Id })" class="btn btn-sm btn-info">Деталі</a>
                    <a href="@Url.Action("Delete", "Category", new { area = "Admin", id = item.Id })" class="btn btn-sm btn-danger">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>